[
  {rabbit,
    [
      {default_vhost, <<"{{ rabbitmq_default_vhost }}">> },
      {default_user, <<"{{ rabbitmq_default_user }}">> },
      {default_pass, <<"{{ rabbitmq_default_pass }}">> },
      {default_permissions, {{ rabbitmq_default_permissions }} },
      {default_user_tags, [{{ rabbitmq_default_user_tags }}] }
    ]
  }
].